<div class="index row">
    {{#each blocks}}
    <div class="col-md-4" id="feed_{{id}}">
        <div>
            <div class="head"><a href="{{url}}" target="_blank">{{title}}</a></div>
            <div class="body">
                {{#if content}}{{content}}{{else}}Loading...{{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    {{#each blocks}}
    loadBlock({{id}});
    {{/each}}
</script>
