body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index .col-md-4{
  padding: 0 3px 5px 3px;
}

.index .col-md-4 > div{
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  width: 100%;
}

div.head{
  background-color: gainsboro;
  border-radius: 10px 10px 0 0;
  padding: 3px 5px;
  font-weight: bold;
}

.body{
  padding: 3px 5px;
  border-radius: 0 0 10px 10px;
  font-size: 12px;
}

.body small{
  color: #a4a4a4;
}

.body p{
  text-indent: -10px;
  position: relative;
  left: 10px;
  margin: 0 0 3px 0;
}